
@using CareerExplorer.Web.DTO

@model SkillTagDTO

<div class="row mb-3">
    <div class="col-md-2">
        <partial name="_AdminMenuPartial" />
    </div>
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Id" hidden />
            <div class="form-floating mb-3">
                <input asp-for="Title" class="form-control" placeholder="Title" />
                <label asp-for="Title" class="form-label"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <button asp-controller="Admin" asp-action="EditTag" type="submit" class=" btn btn btn-primary">Save</button>
            <a asp-controller="Admin" asp-action="GetSkillsTags" class="btn btn-secondary">
                Back To List
        </a>
        </form>
    </div>
</div>
