@using CareerExplorer.Web.DTO

@model CreateOrEditVacancyDTO
<div class="row mb-3">
    <div class="col-md-2">
        <partial name="_RecrMenuPartial" />
    </div>
    <div class="col-md-10">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Id" hidden />
            <input asp-for="CreatorId" hidden />
            <div class="form-floating mb-3">
                <input asp-for="Title" class="form-control" placeholder="Title" />
                <label asp-for="Title" class="form-label"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class=" mb-3">
                <label asp-for="Description">Description</label>
                <textarea rows="7" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
            <label >
                <input class="form-check-input" type="radio" asp-for="IsAvailable" value="true" />
                Available
                </label>
                <label >
                <input class="form-check-input" type="radio" asp-for="IsAvailable" value="false" />
                Not Available
                </label>
        </div>
            <button asp-controller="Vacancy" asp-action="Edit" type="submit" class="w-100 btn btn btn-primary">Save</button>
        </form>
    </div>
</div>
