
<div class="list-group">
    <a asp-controller="Admin" asp-action="GetSkillsTags" type="button" class="btn btn-primary">Skill Tags</a>
    <a asp-controller="Admin" asp-action="GetPositions" type="button" class="btn btn-primary">Positions</a>
</div>