@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="modal fade" id="viewCvModal" tabindex="-1" role="dialog" aria-labelledby="viewCvModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="closeCvBtn" type="button" class="close-btn" data-dismiss="modal" @*aria-label="Close"*@>
                    <i class="bi bi-x-square-fill bi-md"></i>
                </button>
            </div>
            <div class="modal-body">
                <pre id="cvContent"></pre>
            </div>
            <div class="modal-footer">
                <button id="closeCvBtn" type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
<style>
    .close-btn {
        border: none;
        height: 20px;
        width: 20px;
        background-color:none;

    }

    .bi-x-square-fill {
        width:20px;
        height:20px;
    }
</style>