<div class="modal fade" id="viewCvModal" tabindex="-1" role="dialog" aria-labelledby="viewCvModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewCvModalLabel">CV Content</h5>
                <button id="closeCvBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre id="cvContent"></pre>
            </div>
            <div class="modal-footer">
                <button id="closeCvBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>