@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="list-group">
    <a asp-controller="JobSeekerProfile" asp-action="GetProfile" type="button" class="btn btn-primary">@Localizer["Profile"]</a>
    <a asp-controller="Chat" asp-action="GetJobSeekerChats" type="button" class="btn btn-primary">@Localizer["Chats"]</a>
</div>