@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<div class="list-group">
    <a asp-controller="RecruiterProfile" asp-action="GetProfile" type="button" class="btn btn-primary">@Localizer["Profile"]</a>
    <a asp-controller="Vacancy" asp-action="CreatedVacancies" type="button" class="btn btn-primary">@Localizer["Vacancies"]</a>
</div>