@using CareerExplorer.Web.DTO;

@model JobSeekerDTO

<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="GetProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Id" hidden />
            <input asp-for="UserId" hidden />
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="Enter your name" />
                <label asp-for="Name" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Surname" class="form-control" placeholder="Enter your surname" />
                <label asp-for="Surname" class="form-label"></label>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Phone" class="form-control" placeholder="Please enter your phone number." />
                <label asp-for="Phone" class="form-label"></label>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 input-group" id="skill-tags-input-container">
                <input  type="hidden" id="selected-skills-input" name="selectedSkills"/>
                <input  class="form-control" id="skill-tags-input" placeholder="Choose skills" />
                <label class="form-label">Skills</label>
            </div>
            <div class="form-control skill-tags-display" id="skill-tags-display"></div>
            <div class=" mb-3">
                    <label asp-for="Experience">Experience</label>
                    <textarea asp-for="Experience" class="form-control"></textarea>
                    <span asp-validation-for="Experience" class="text-danger"></span>
                </div>
            <div class="form-floating mb-3">
                <input asp-for="GitHub" class="form-control" placeholder="Enter link to your GitHub profile." />
                <label asp-for="GitHub" class="form-label"></label>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <button asp-controller="JobSeekerProfile" asp-action="GetProfile" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <script>
        var selectedTags = [];
        $(document).ready(function () {
            selectedTags = @Html.Raw(Json.Serialize(Model.Skills.Select(s => s.Title)));
            updateSkillTagsDisplay();
        });
        $('#skill-tags-input').on('input', function () {
            var search = $(this).val();
            $.ajax({
                url: '/Admin/GetSkillTags',
                type: 'GET',
                data: { search: search },
                success: function (data) {
                    var tags = data.map(function (tag) {
                        return tag.title;
                    });
                    console.log(tags, "tags");
                    $('#skill-tags-input').autocomplete({
                        source: tags,
                        minLength: 2,
                        select: function (event, ui) {
                            selectedTags.push(ui.item.value);
                            updateSkillTagsDisplay();
                            $(this).val('');
                            return false;
                        }
                    });
                },
                error: function () {
                    console.log('Error retrieving tags');
                }
            });
        });

        function updateSkillTagsDisplay() {
            $('#skill-tags-display').empty();
            for (var i = 0; i < selectedTags.length; i++) {
                var tag = $('<div>', { class: 'skill-tag' }).text(selectedTags[i]);
                var closeButton = $('<button>', { type: 'button', class: 'close', 'aria-label': 'Close' });
                var closeIcon = $('<span>', { 'aria-hidden': 'true' }).html('&times;');
                closeButton.append(closeIcon);
                tag.append(closeButton);
                closeButton.on('click', function () {
                    var tagText = $(this).parent().text().trim();
                    selectedTags.splice(selectedTags.indexOf(tagText), 1);
                    updateSkillTagsDisplay();
                    var skills = JSON.parse($('#selected-skills-input').val());
                    var skillIndex = skills.indexOf(tagText);
                    if (skillIndex > -1) {
                        skills.splice(skillIndex, 1);
                        $('#selected-skills-input').val(JSON.stringify(skills));
                    }
                });
                $('#skill-tags-display').append(tag);
            }
            $('#selected-skills-input').val(JSON.stringify(selectedTags));
        }
    </script>

}
